<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ absolute_url }}/blog">Blog</a></li>
		<li><a href="https://glancecam.app/">GlanceCam</a></li>
		<!-- <li><a href="{{ absolute_url }}/lifepace/lifepace.html">LifePace</a></li> -->
		<li><a href="{{ absolute_url }}/sussurro-whisper-ai-transcription.html">Sussurro</a></li>
		<li><a href="{{ absolute_url }}/link-hub.html">Link-HUB</a></li>
		<li><a href="{{ absolute_url }}/markcam-timestamp-watermark.html">MarkCam</a></li>
		<li><a href="{{ absolute_url }}/moushero-for-safari.html">MousHero</a></li>
		<li><a href="{{ absolute_url }}/tametime.html">TameTime</a></li>
		<li><a href="{{ absolute_url }}/clipbar.html">ClipBar</a></li>
		<li><a href="{{ absolute_url }}/photosupload.html">PhotosUpload</a></li>
		<li><a href="{{ absolute_url }}/walk-more.html">Walk More</a></li>
		<li><a href="{{ absolute_url }}/support.html">Support</a></li>
	</ul>
	<!--
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
	-->
</nav>
